@font-face {
  font-family: 'Naval Group';
  src: url("assets/fonts/NavalGroupSans-Regular.woff2");
}

@font-face {
  font-family: 'Naval Group';
  src: url("assets/fonts/NavalGroupSans-Bold.woff2");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Naval Group';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
