@font-face {
  font-family: 'Naval Group';
  src: url("assets/fonts/NavalGroupSans-Regular.woff2");
}

@font-face {
  font-family: 'Naval Group';
  src: url("assets/fonts/NavalGroupSans-Bold.woff2");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Naval Group';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F9FC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 3em;
  line-height: 1.15em;
}

h2 {
  padding-top: 1.5em;
  display: block;
  font-size: 2em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 0 0 0.9em;
  font-weight: bold;
}

.title-border {
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}


.title-border::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    width: 4.6rem;
    border-top: 4px solid #E1051E;
}


h3 {
  padding-top: 0.5em;
  font-size: 1.825em;
  line-height: 1.4em;
  margin: 20px 0 10px;
}

h4 {
  font-size: 1.3em;
  line-height: 1.4em;
}

h5 {
  font-size: 1.25em;
  line-height: 1.4em;
  margin-bottom: 15px;
}

h6 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
}
